{% extends 'base.html' %}

{% block navbar %} 
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'posts' %}" style="pointer-events: none;color: darkgray;">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-cont0rols="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                  </ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                  </ul>
                </div>
            </nav>
{% endblock %} 

{% block error %}
    <div class="text-center bg-danger">
            <p> {{ error }} </p>
    </div>
{% endblock %}

{% block blog_posts %}
    <form class="page" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}